@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="https://i.ibb.co/GQ25hTX/Capture-halaman-utama.png" class="img-fluid"alt="Capture-halaman-utama" border="0">    </div>
    <hr />
</div>
<div class="container-fluid">
    <h1 class="title">Kumpulan random webinar yang bermanfaat</h1>
    <p>
        Mari kita perbanyak pengetahuan dengan mengikuti banyak webinar.
        Webinar atau seminar online memang jadi tempat yang kita untuk mencari ilmu baru dan meningkatkan skill kita.
    </p>
    <p>
        Web Random Webinar menyiapkan pilihan webinar gratis yang bisa kamu ikuti.
        Topik yang dibahas pun beragam. Mulai dari bisnis, karir, teknologi, dan masih banyak lagi.
        Kira-kira mana yang sesuai minat kamu? Yuk, cek halaman webinar !
    </p>
</div>
