
@{
    ViewData["Title"] = "TentangKami";
}

<h1 class="text-center p-2">TentangKami</h1>
<div class="list-group">
    <a class="list-group-item" href="https://imgbb.com/"><img src="https://i.ibb.co/Pm6d4Q1/char.png"  call="img-thumbnail" alt="Me" border="0" style="max-height : 250px; overflow: auto;"></a>
        <a class="list-group-item"> Nama : Attariq Muhammad Andyanto</a>
        <a class="list-group-item"> NIM : 18/429058/TK/47560</a>
</div>
<hr />
<div class="list-group">
    <a  class="list-group-item" href="https://imgbb.com/"><img src="https://i.ibb.co/kSqkzvK/char-2.png"  alt="char-2" border="0" style="max-height : 250px;overflow: auto;"></a>
        <a class="list-group-item"> Nama : Fajar Ryan Akhra</a>
        <a class="list-group-item"> NIM : 18/425307/TK/47002</a>
</div>   
